<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.hand.Entity.Customer.mapper">
 <insert id="addCustomer" parameterType="Customer" 
        useGeneratedKeys="true" keyProperty="customer_id"> 
        insert into customer(first_name,last_name,email,address_id,create_date)  
             values(#{first_name},#{last_name},#{email},#{address_id},#{create_date})  
    </insert>
    <select id="findById" parameterType="int" resultType="Customer">  
       select * from customer where customer_id=#{id}  
    </select>
    <delete id="deleteCustomer" parameterType="int">	
        delete from customer where customer_id=#{id}
    </delete>
    
</mapper>