<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.hand.Entity.Payment.mapper">
<delete id="deletePayment" parameterType="int">	
        delete from payment where customer_id=#{id}
    </delete>
</mapper>